body {
  background-color: #f8f9fa;
}

.card {
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.color-box {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 2px solid #ced4da;
  margin-bottom: 20px;
}

#hexCode {
  border-radius: 5px;
}
